body{
  background-color:ffdb8b;
}

h1{
  color:fff7e0;
  font-size: 23;
}

button{
  font-size: 20;
  border-radius: 4px;
  background-color:fff7e0;
  border: none;

}
.by{
  font-size: 20;
  border-radius: 4px;
  background-color:8affbd;
  border: none;
}