body{
  background-color:8b00ff;
}

h1{
}
h3{
}
button{
  font-size: 20;
  border-radius: 4px;
  background-color:c299ff;
  border: none;

}
.by{
  font-size: 20;
  border-radius: 4px;
  background-color:8affbd;
  border: none;
}