body{
  background-color:ba66ff;
  min-width: 100px;
}

h1{
}
h3{
}
button{
  font-size: 20;
  border-radius: 4px;
  background-color:e8ccff;
  border: none;

}
.by{
  font-size: 20;
  border-radius: 4px;
  background-color:8affbd;
  border: none;
}